.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid;
    width: 100%;
}

.header nav {
    display: flex;
    gap: 20px;
}
