.header {
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-bottom: dotted 0.25rem var(--highlight-color);
}

.logoLink {
    width: 10vh;
    height: 10vh;

    font-size: 4rem;
    line-height: 5.25rem;
    text-align: center;

    border: solid 0.25rem var(--highlight-color);
    border-radius: 0.5rem;

    color: var(--background-color);
    background-color: var(--highlight-color);

    transition: color 0.3s, background 0.3s;
}

.logoLink:hover {
    color: var(--highlight-color);
    background-color: var(--background-color);
}

.linkNav {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.linkList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link {
    position: relative;

    padding: 0.25rem;

    color: var(--highlight-color);
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0.25rem;

    background-color: var(--highlight-color);

    transform: scaleX(0);
    transform-origin: bottom left;

    transition: transform 0.3s;
}

.link:hover::after {
    transform: scaleX(1);
}

@media (max-width: 700px) {
    .linkNav {
        justify-content: center;
    }

    .link {
        font-size: 2rem;
    }

    .link::after {
        transform: scaleX(1);
    }
}
