.header {
    height: 15vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink {
    width: 10vh;
    height: 10vh;

    border-radius: 5px;
    border: 2px solid var(--color);

    font-size: 48px;
    line-height: 8vh;
    text-align: center;
    text-decoration: none;

    color: var(--background-color);
    background-color: var(--color);

    transition: all 0.2s ease;
}

.logoLink:hover {
    text-decoration: none;

    color: var(--color);
    background-color: var(--background-color);
}

.linkNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.linkList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    list-style: none;
}

.link {
}

.link:hover {
    text-decoration: none;
}
