.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 20px;
}

/* .header nav {
    display: flex;
    gap: 20px;
}

.header a {
    font-size: 20px;
} */
