.heroSection {
    max-height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.heroTitle {
    width: 60vw;
    height: 96px;
    display: flex;
    justify-content: center;
}

.heroTitle > * {
    width: 360px;
    display: inline-block;
}

.heroTitle > * > span {
    margin: 0;
    padding: 0;

    display: inline;

    font-size: 36px;
    line-height: 100%;
}

.heroText {
    max-width: 80%;
    font-size: 24px;
}

@media (max-width: 700px) {
    .heroTitle > * {
        width: 190px;
    }
}
