.heroSection {
    display: flex;
    flex-direction: column;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    text-align: center;
}

.title > * > span {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: fit-content;
    font-size: 36px;
    line-height: 1.5;
}

.text {
    font-size: 24px;
    max-width: 80%;
}
