.heroSection {
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    height: 15vh;
}

.text {
    font-size: 24px;
    max-width: 80%;
}
