.section {
    height: 85vh;

    display: flex;
    flex-direction: column;
}

.titleContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 1rem;

    font-size: 4rem;
    text-align: center;
}

.descriptionContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.description {
    padding: 1rem;

    font-size: 2rem;
}

.hint {
    padding: 2rem;

    text-align: center;

    color: var(--highlight-color);
}
