.skillList {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

    list-style: none;
}

@media (max-width: 700px) {
    .skillList {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
