---
import Page from '../../layouts/Page.astro';
import PostList from '../../features/blog/components/PostList.astro';
---

<Page title="Blog" description="Posts on code and other things.">
  <h1 class="mb-8">Blog</h1>
  <PostList />
</Page>
