.aboutContainer {
    display: flex;

    gap: 1rem;
}

.aboutMeBox {
    min-height: 40vh;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.factList {
    padding-left: 5rem;

    list-style-type: disc;
}

.link {
    position: relative;

    color: var(--highlight-color);
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: var(--highlight-color);

    transform: scaleX(0);
    transform-origin: bottom left;

    transition: transform 0.3s;
}

.link:hover::after {
    transform: scaleX(1);
}

.skillBox {
    min-height: 40vh;

    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skillList {
    flex: 1;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skillItem {
    min-width: fit-content;
    min-height: fit-content;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 3px var(--color);
    border-radius: 10px;

    color: var(--color);
    background-color: var(--background-color);
}

.skillName {
    text-align: center;
}

@media (max-width: 700px) {
    .aboutContainer {
        flex-direction: column;
    }

    .link:after {
        transform: scaleX(1);
    }
}
