.header {
    max-height: 10vh;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;

    text-align: center;
}
