.header {
    width: 100vw;

    padding: 2rem;

    display: flex;

    place-items: center;
}

.left {
    flex: 1;

    display: flex;
    place-items: center;
}

.title {
    font-size: 2rem;
}

.right {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    place-items: center;
    gap: 2rem;
}

.nav {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.search {
    width: 10rem;

    padding: 0.2rem;

    text-align: center;

    border: none;
    border-bottom: 0.2rem solid var(--accent);

    color: var(--fg);
    background-color: var(--bg);
}

.search::placeholder {
    color: var(--accent);

    opacity: 1;
}

.toggle {
    padding: 0.5rem;

    border: none;
    border-radius: 0.2rem;

    color: var(--fg);
    background-color: var(--accent);

    cursor: pointer;

    transition: background-color 0.3s;
}

.toggle:hover,
.toggle:focus-visible {
    background-color: var(--highlight);
}
