---
interface Props {
    title: string;
}

const { title } = Astro.props;

import Analytics from '@vercel/analytics/astro';

import '@styles/base/reset.css';
import '@styles/base/fonts.css';
import '@styles/base/global.css';
---

<style>
    body {
        min-height: 100vh;

        display: flex;
        flex-direction: column;
    }
</style>

<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <link
            rel='icon'
            type='image/svg+xml'
            href='/favicon.svg'
        />
        <meta
            name='viewport'
            content='width=device-width, initial-scale=1'
        />
        <title>{title}</title>
        <Analytics />
    </head>
    <body>
        <slot />
    </body>
</html>
