.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.logo {
    width: 10vh;
    height: 10vh;
    font-size: 48px;
    line-height: 8vh;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid black;
}

.logo:hover {
    color: black;
    background-color: white;
}

.linkNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0;
}
