.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.projectSection h2 {
    text-align: center;
    max-width: 60%;
}
