.button {
    width: 80px;

    padding: 5px;

    cursor: pointer;

    border: solid 3px var(--highlight-color);
    border-radius: 5px;

    color: var(--highlight-color);
    background-color: var(--background-color);

    transition: all 0.2s ease;
}

.button:hover {
    color: var(--background-color);
    background-color: var(--highlight-color);
}
