.button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none;
    border-radius: 0.5rem;

    color: var(--highlight);
    background-color: var(--background);

    transition: color 0.3s, background 0.3s;
}

.button:hover {
    color: var(--background);
    background-color: var(--highlight);
}

.icon {
    padding: 0.5rem;

    flex: 1;

    font-size: 1.5rem;
}

@media (max-width: 700px) {
    .icon {
        font-size: 2rem;
    }
}
