:root {
    --light-color: #000000;
    --light-highlight: #d65d0e;
    --light-background: #ffffff;

    --dark-color: #ffffff;
    --dark-highlight: #d65d0e;
    --dark-background: #000000;

    --color: var(--light-color);
    --highlight: var(--light-highlight);
    --background: var(--light-background);
}

body {
    min-height: 100vh;

    color: var(--color);
    background-color: var(--background);
}

::selection {
    color: var(--background);
    background-color: var(--color);
}

a {
    text-decoration: none;
}

