:root {
    --light-color: #222222;
    --light-highlight: #d65d0e;
    --light-background: #f2f2f2;

    --dark-color: #f2f2f2;
    --dark-highlight: #d65d0e;
    --dark-background: #222222;

    --color: var(--light-color);
    --highlight: var(--light-highlight);
    --background: var(--light-background);
}

body {
    min-height: 100vh;

    color: var(--color);
    background-color: var(--background);
}

::selection {
    color: var(--background);
    background-color: var(--color);
}

a {
    text-decoration: none;
}

h1 {
    line-height: 1;

    font-size: 4rem;
}
