.page {
    width: 100svw;
    height: 100svh;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    text-align: center;

    font-size: 4rem;
}

.description {
    width: 60svw;

    text-align: center;

    font-size: 1.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link {
    position: relative;

    outline: none;

    font-size: 2rem;

    color: var(--color);

    transition: color 0.3s;
}

.link::selection {
    background-color: var(--highlight);
}

.link:is(:hover, :focus-visible) {
    color: var(--highlight);
}

.link::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0.2rem;

    content: '';

    background-color: var(--color);

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s, color 0.3s;
}

.link:is(:hover, :focus-visible)::after {
    transform: scaleX(1);

    background-color: var(--highlight);
}
