.skillsList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.skill {
    min-width: fit-content;
    padding: 20px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.skill:hover {
    color: black;
    background-color: white;
}
