.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    list-style: none;
}

.linkItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    padding: 0.5rem;

    font-size: 1rem;

    text-align: center;
    text-decoration: none;

    color: black;
}

.link:is(:hover, :focus-visible) {
    text-decoration: underline;
}

.link[data-current="true"] {
    font-weight: bold;
}

.linkSeperator {
    font-size: 1rem;
    text-align: center;
}
