---
import Page from "../layouts/Page.astro";
---

<Page title="About" description="About Parker Botsford.">
  <h1 class="mb-8">About Me</h1>
  <div class="space-y-4">
    <p>I'm Parker Botsford, an IT engineer and programmer.</p>
    <p>I currently live near the Atlanta area.</p>
    <p>
      I enjoy building websites and tools that help software developers and IT
      technicians work smarter.
    </p>
    <p>I love working with and maintaining open source projects!</p>
    <p>
      For more, check out <a href="/projects">my projects</a> or <a href="/blog"
        >read my blog</a
      >.
    </p>
  </div>
</Page>
