---
import BaseLayout from '@layouts/base.astro';

const PageTitle = 'parkerbotsford.com';
---

<BaseLayout PageTitle={PageTitle}>
    <h2>My Awesome Subtitle</h2>
    <p>This is the homepage</p>
</BaseLayout>
