---
import BaseLayout from '@layouts/base/BaseLayout.astro';

import Header from '@components/base/header';
import Footer from '@components/base/footer';
---

<style>
    main {
        flex: 1;
        width: 100vw;
    }
</style>

<BaseLayout title='Writing'>
    <Header />
    <main></main>
    <Footer />
</BaseLayout>
