.item {
    flex: 1;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.name {
    text-align: center;
}
