---

---

<header class='header'>
    <ul class='navList'>
        <li class='navListItem'>
            <a href='/' class='navListLink'>Home</a>
        </li>
        <li class='navListItem'>
            <a href='/blog/' class='navListLink'>Blog</a>
        </li>
    </ul>
</header>
