---
import Page from "../../layouts/Page.astro";
import ProjectList from "../../features/projects/components/ProjectList.astro";
---

<Page title="Projects" description="Things I'm building.">
  <h1 class="mb-8">Projects</h1>
  <ProjectList />
</Page>
