.projectSection {
    min-height: 100vh;
    height: auto;
}

.repoBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repoList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 0;
}

.repoItem {
    display: flex;
}

.repoLink {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--background-color);
    border-radius: 10px;
    padding: 10px;

    transition: border 0.2s ease;
}

.repoLink:hover {
    text-decoration: none;
    border-color: var(--color);
}

.repoName {
    flex: 1;
}

.repoInfoBox {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.repoInfo {
    flex: 1;
}

.repoTagList {
    flex: 1;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.repoTag {
    color: var(--background-color);
    background-color: var(--color);
    border-radius: 1rem;
    padding: 5px 10px;
}

@media (max-width: 700px) {
    .repoList {
        display: flex;
        flex-direction: column;
    }

    .repoLink {
        border-color: var(--color);
    }
}
