.projectSection {
    min-height: 100vh;
    height: auto;
}

.repoBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repoList {
    list-style: none;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 0;
}

.repoItem {
    display: flex;
}

.repoLink {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--background-color);
    border-radius: 10px;
    padding: 10px;
    flex: 1;

    transition: border 0.2s ease;
}

.repoLink:hover,
.repoLink:focus {
    text-decoration: none;
    border-color: var(--color);
}

.repoName {
    flex: 1;
    border-bottom: 2px dotted var(--color);
}

.repoInfoBox {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.repoInfo {
    flex: 1;
}

@media (max-width: 700px) {
    .repoList {
        grid-template-columns: 1fr;
    }
}
