.projectSection {
    min-height: 100vh;
}

.repoBox {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.repoList {
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    list-style: none;
}

.repoItem {
    flex: 1;
    padding: 10px;

    display: flex;
    flex-direction: column;

    border: 3px solid var(--background-color);
    border-radius: 10px;

    transition: border 0.2s ease;
}

.repoItem:hover {
    border-color: var(--color);
}

.repoTop {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repoName {
    text-align: center;

    border-bottom: solid 3px var(--color);
}

.repoLink {
    position: relative;

    padding: 3px;

    color: var(--highlight-color);
}

.repoLink:hover {
    text-decoration: none;
}

.repoLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: var(--highlight-color);

    transform: scaleX(0);
    transform-origin: bottom right;

    transition: transform 0.3s ease;
}

.repoLink:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.repoInfoBox {
    flex: 2;
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.repoInfo {
    flex: 1;
}

.repoTagList {
    flex: 1;
    padding: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    list-style: none;
}

.repoTag {
    padding: 5px 10px;

    border-radius: 10px;

    color: var(--background-color);
    background-color: var(--color);
}

@media (max-width: 700px) {
    .repoList {
        display: flex;
        flex-direction: column;
    }

    .repoItem {
        border-color: var(--color);
    }
}
