.contactSection {
    height: 95vh;
}

.contactBox {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactList {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 50px;

    list-style-type: none;
}

.link {
    padding: 10px;

    display: flex;
    align-items: center;

    text-decoration: none;

    border: solid 3px var(--highlight-color);
    border-radius: 5px;

    color: var(--highlight-color);

    transition: all 0.2s ease;
}

.link:hover {
    text-decoration: none;

    color: var(--background-color);
    background-color: var(--highlight-color);
}
