.contactBox {
    min-height: 85vh;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactList {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.link {
    padding: 1rem;

    display: flex;
    align-items: center;

    border: solid 3px var(--highlight-color);
    border-radius: 5px;

    color: var(--highlight-color);

    transition: color 0.3s, background 0.3s;
}

.link:hover {
    color: var(--background-color);
    background-color: var(--highlight-color);
}

@media (max-width: 700px) {
    .link {
        color: var(--background-color);
        background-color: var(--highlight-color);
    }
}
