.section {
    min-height: 100vh;

    display: flex;
}

.sectionLeft,
.sectionRight {
    width: 50%;

    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;

    display: flex;
    align-items: flex-end;
}

.headerTitle {
    font-size: 2rem;
}

.contentLeft,
.contentRight {
    min-height: 90vh;

    display: flex;
    flex-direction: column;
}

.contentLeft {
    gap: 2rem;
    padding: 2rem;
}

.factList {
    list-style: circle;
    padding-left: 2rem;
}

.aboutLink {
    position: relative;

    color: var(--highlight);
}

.aboutLink::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0.2rem;

    content: '';

    background-color: var(--highlight);

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.3s;
}

.aboutLink:hover::after {
    transform: scaleX(1);
}

@media (max-width: 750px) {
    .section {
        flex-direction: column;
    }

    .sectionLeft,
    .sectionRight {
        width: 100%;
    }
}
