.section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;

    display: flex;
    align-items: flex-end;
}

.headerTitle {
    font-size: 2rem;
}

.content {
    min-height: 90vh;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.factList {
    list-style: circle;
    padding-left: 2rem;
}
