---
import '@styles/global.css';

import Header from '@components/Header.astro';

const { PageTitle } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{PageTitle}</title>
    </head>
    <body>
        <h1>{PageTitle}</h1>
        <Header />

        <slot />
    </body>
</html>
