.page {
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 2.5rem;
}

.main {
    height: 85vh;

    padding: 5vh 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.text {
    width: 60vw;
}

.footer {
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 0.75rem;
}
