.page {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.postSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
