.page {
    padding: 0 4rem;

    display: flex;
    flex-direction: column;
}

.postSection {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {
    .page {
        padding: 0 1rem;
    }
}
