.page {
    padding: 0 50px;

    display: flex;
    flex-direction: column;
}

.postsSection {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.title {
    text-align: center;
}

.postList {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    list-style: none;
}

.postLink {
    width: 60vw;

    padding: 10px;

    display: flex;
    flex-direction: column;

    border: solid 2px var(--color);
    border-radius: 10px;
}

.postLink:hover {
    text-decoration: none;

    color: var(--background-color);
    background-color: var(--color);
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
