.page {
    padding: 0 4rem;

    display: flex;
    flex-direction: column;
}

.postsSection {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    text-align: center;
}

.postList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.postLink {
    width: 60vw;

    padding: 1rem;

    display: flex;
    flex-direction: column;

    border: solid 3px var(--color);
    border-radius: 10px;
}

.postLink:hover {
    color: var(--background);
    background-color: var(--color);
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    .page {
        padding: 0 1rem;
    }
}
