.page {
    padding: 0 50px;

    display: flex;
    flex-direction: column;
}

.postSection {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
