@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/RobotoMono/RobotoMonoVariable-Regular.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/RobotoMono/RobotoMonoVariable-Italic.ttf')
        format('truetype');
}
