body {
    --light-color: #3d405b;
    --light-highlight-color: #e07a5f;
    --light-background-color: #f4f1de;

    --dark-color: #f4f1de;
    --dark-highlight-color: #e07a5f;
    --dark-background-color: #3d405b;
}

body[data-theme='light'] {
    --color: var(--light-color);
    --highlight-color: var(--light-highlight-color);
    --background-color: var(--light-background-color);
}

body[data-theme='dark'] {
    --color: var(--dark-color);
    --highlight-color: var(--dark-highlight-color);
    --background-color: var(--dark-background-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;

    scroll-behavior: smooth;

    color: var(--color);
    background-color: var(--background-color);
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;

    transition: color 0.3s, background 0.3s;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;

    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    font-size: 16px;
    text-decoration: none;

    color: var(--color);
}

::selection {
    color: var(--background-color);
    background-color: var(--color);
}

@media (max-width: 700px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p,
    a {
        font-size: 14px;
    }
}
