.infoBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border: 2px solid;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
}

.hint {
    text-align: center;
}

@media (max-width: 800px) {
    .top {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
